html {
  font-family: -apple-system, Helvetica, arial, sans-serif;
  color: #779e7f;
  line-height: 1.5em;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #180918;
}
body {
  margin: 0;
}
body .content {
  margin-bottom: 120px;
}
a {
  color: #cc7832;
  text-decoration: underline;
}
a:hover {
  color: #9876aa;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, Helvetica, arial, sans-serif;
}
h1 {
  line-height: 1.2em;
}
.clear {
  clear: both;
}
.hidden {
  display: none;
}
.wrap {
  max-width: 700px;
  margin: 0 auto;
}
.mono {
  font-family: monospace;
}
.nav {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 24px;
  /* Matches publications nav line-height. */
}
.nav a {
  color: #779e7f;
  text-decoration: none;
  border-bottom: none;
  font-size: 12px;
}
.nav a:hover {
  font-weight: bold;
}
.nav ul {
  list-style-type: none;
  padding: 0;
}
.nav ul li {
  display: inline;
  margin-right: 10px;
}
.front-matter {
  padding: 20px 0;
  border-bottom: 1px solid #779e7f;
  border-top: 1px solid #779e7f;
}
.front-matter h4 {
  font-family: -apple-system, Helvetica, arial, sans-serif;
}
.front-matter .bylines .byline {
  margin-right: 20px;
  float: left;
}
.front-matter .bylines .byline h3,
.front-matter .bylines .byline p {
  margin: 0;
  font-family: -apple-system, Helvetica, arial, sans-serif;
}
.front-matter .bylines .byline h3 {
  font-size: 9px;
  text-transform: uppercase;
  color: #779e7f;
}
.front-matter .bylines .byline p {
  font-size: 10px;
  line-height: 1.6em;
}
.front-matter-image {
  background-size: 100%;
}
.front-matter-image img {
  width: 100%;
}
.front-matter-image h4 {
  font-family: -apple-system, Helvetica, arial, sans-serif;
}
.front-matter-image .bylines .byline {
  margin-right: 20px;
  float: left;
}
.front-matter-image .bylines .byline h3,
.front-matter-image .bylines .byline p {
  margin: 0;
  font-family: -apple-system, Helvetica, arial, sans-serif;
}
.front-matter-image .bylines .byline h3 {
  font-size: 9px;
  text-transform: uppercase;
  color: #779e7f;
}
.front-matter-image .bylines .byline p {
  font-size: 10px;
  line-height: 1.6em;
}
.img-left {
  float: left;
  width: 49%;
}
.img-right {
  float: right;
  width: 49%;
}
table {
  font-size: 14px;
  margin: 0 auto;
  border-collapse: collapse;
  border-top: 2px solid black;
  border-bottom: 1px solid black;
}
table thead > tr > th {
  border-bottom: 1px solid black;
  padding: 0 8px;
}
table td {
  text-align: center;
}
.tag-page h1 span {
  font-size: 14px;
}
.article {
  font-size: 15px;
  line-height: 1.6em;
  color: #779e7f;
  margin-top: 50px;
  margin-bottom: 50px;
}
.article blockquote {
  margin: 0;
  padding: 0 1em;
  color: #a5c25c;
  border-left: 0.25em solid #a5c25c;
  background-color: #091809;
}
.article pre {
  margin: 50;
  padding: 0 1em;
  color: #a5c25c;
  border-left: 0.25em solid #a5c25c;
  background-color: #091809;
  overflow: auto;
  word-break: keep-all;
}
.article code {
  word-break: keep-all;
}
.article h2 {
  font-size: 26px;
  border-bottom: 1px solid #779e7f;
  padding-bottom: 1rem;
  padding-top: 1em;
}
.article .figure-no-caption {
  margin-bottom: 40px;
  margin-top: 40px;
}
.article .figure-no-caption .caption {
  padding-top: 15px;
  color: #779e7f;
  display: inline-block;
  font-size: 12px;
  line-heigh: 1.2em;
}
.article .figure {
  border-top: 1px solid hsla(0, 0%, 0%, 0.2);
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
  padding: 20px 0;
}
.article .figure .caption {
  padding-top: 15px;
  display: inline-block;
  font-size: 13px;
  line-heigh: 1.2em;
}
.article .figure .caption-label {
  font-weight: bold;
}
.article .footnote {
  line-height: 0;
}
.article div.highlight {
  border-top: 1px solid #779e7f;
  border-bottom: 1px solid #779e7f;
  font-size: 13px;
  line-height: 1.3em;
}
.article ul {
  padding: 0 15px;
}
#bibliography {
  border-top: 1px solid #779e7f;
}
#bibliography ol.bibliography {
  padding-left: 15px;
  padding-top: 30px;
  font-size: 12px;
  color: #779e7f;
}
#blog,
.tag-page {
}
#blog #intro,
.tag-page #intro {
  font-size: 14px;
  font-style: italic;
  line-height: 1.4em;
  margin-bottom: 40px;
}
#blog .quote,
.tag-page .quote {
  margin-bottom: 30px;
}
#blog .quote p,
.tag-page .quote p {
  margin-bottom: 5px;
}
#blog .post-date,
.tag-page .post-date {
  text-transform: uppercase;
  color: #779e7f;
  font-size: 12px;
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 4px;
}
#blog .post-title,
.tag-page .post-title {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0;
}
#blog .post-title a,
.tag-page .post-title a {
  font-size: 18px;
  text-decoration: none;
}
#blog .post-title a:hover,
.tag-page .post-title a:hover {
  text-decoration: underline;
}
#blog .post-subtitle,
.tag-page .post-subtitle {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 25px;
  line-height: 1.5em;
}
#blog .year,
.tag-page .year {
  font-size: 18px;
  position: relative;
  right: 100px;
  color: #779e7f;
  width: 100px;
  margin-bottom: -24px;
}
#blog #y2017.year,
.tag-page #y2017.year,
#blog #y2018.year,
.tag-page #y2018.year {
  margin-top: 0px;
}
#blog ul#tag-nav,
.tag-page ul#tag-nav {
  padding: 0 0 30px 0;
  line-height: 1.3em;
}
#blog ul#tag-nav span,
.tag-page ul#tag-nav span {
  font-size: 14px;
  display: inline-block;
  padding-right: 15px;
}
#blog ul#tag-nav li,
.tag-page ul#tag-nav li {
  display: inline;
  padding-right: 10px;
}
#blog ul#tag-nav li a,
.tag-page ul#tag-nav li a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
#blog #more,
.tag-page #more {
  font-size: 15px;
  padding-top: 40px;
}
#blog #more a,
.tag-page #more a {
  font-weight: bold;
}
.tag-page h2 {
  font-size: 26px;
  border-bottom: 1px solid #779e7f;
  padding-bottom: 1rem;
  padding-top: 1em;
}
.footnotes {
  margin-top: 100px;
  font-size: 12px;
  border-top: 1px solid #779e7f;
}
@media screen and (max-width: 700px) {
  body {
    margin: 0 7px;
  }
  .front-matter-image {
    display: none;
  }
}